@charset "UTF-8";

header{
	background-color: lightgoldenrodyellow;
	width:100%;
	height:80px;
	line-height: 80px;
	/* position:absolute; */
	
	
}
h1{
	display:none;	
}

#logo{
	width: 50px;
	vertical-align: middle;
}

nav{
	float:right;
	background-color: gray;
	color:blue;
	margin: 15px auto;
	width:30%;
	height:50px;
	line-height: 50px;
	text-align: center;
	word-spacing: 35px;	
}

article{
	background-color: lightpink;
	position:relative;
	margin : 0px 150px 3px 0px;
	border : 1px solid black;
	box-sizing: border-box;

	
}


article > figure{
	margin: 3px auto ;
}

article:nth-child(2){
	position: relative;
	padding: 0, 0, 300px, 0;
	margin : 0, 0 1000px, 0;
}

section > aside{
	/* background-color: lightpink; */
	float:right;
	position:relative;
	right:1px;
	bottom: 400px;
}    	


footer>aside{
	width:100%;
	height:180px;
	position:absolute;
	bottom:10px;
	background-color: black;
	color : white
	
}


